<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="xxx项目">
    <test name="注册接口">
        <classes>
            <class name="com.zhongxin.cases.RegisterCase"/>
            <parameter name="sheetIndex" value="0"></parameter>
        </classes>
    </test>
    <test name="登陆接口">
        <classes>
            <class name="com.zhongxin.cases.LoginCase"/>
            <parameter name="sheetIndex" value="1"></parameter>
        </classes>
    </test>
    <test name="充值接口">
        <classes>
            <class name="com.zhongxin.cases.RechargeCase"/>
            <parameter name="sheetIndex" value="2"></parameter>
        </classes>
    </test>
    <test name="新增项目">
        <classes>
            <class name="com.zhongxin.cases.AddCase"/>
            <parameter name="sheetIndex" value="3"></parameter>
        </classes>
    </test>
    <test name="管理员登陆">
        <classes>
            <class name="com.zhongxin.cases.LoginCase"/>
            <parameter name="sheetIndex" value="4"></parameter>
        </classes>
    </test>
    <test name="审核项目接口">
        <classes>
            <class name="com.zhongxin.cases.AuditCase"/>
            <parameter name="sheetIndex" value="5"></parameter>
        </classes>
    </test>
    <test name="投资接口">
        <classes>
            <class name="com.zhongxin.cases.InvestCase"/>
            <parameter name="sheetIndex" value="6"></parameter>
        </classes>
    </test>
    <test name="管理员用户信息">
        <classes>
            <class name="com.zhongxin.cases.UserInfoCase"/>
            <parameter name="sheetIndex" value="7"></parameter>
        </classes>
    </test>
</suite>