<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="xxx项目">
    <test name="注册接口">
        <classes>
            <class name="com.zhongxin.cases.RegisterCase"/>
        </classes>
    </test>
    <test name="登陆接口">
        <classes>
            <class name="com.zhongxin.cases.LoginCase"/>
        </classes>
    </test>
</suite>